<IfModule mod_headers.c>
    Header unset Link
    <FilesMatch "\.(html|html_gzip|html_br)$">
    Header add Link '</wp-content/cache/minify/df983.js>; rel=preload; as=script'
    Header add Link '</wp-content/cache/minify/f6d37.js>; rel=preload; as=script'
    Header add Link '</wp-content/cache/minify/0fef6.js>; rel=preload; as=script'
    Header add Link '</wp-content/cache/minify/dfacc.js>; rel=preload; as=script'
    Header add Link '</wp-content/cache/minify/1a222.js>; rel=preload; as=script'
    Header add Link '</wp-content/cache/minify/5256f.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
